.wrapper {
    background-color: bisque;
    max-width: 246px;
    margin: 0 auto;
}

.main {
    margin: 0 auto;
}

.to .from {

    padding: 5px 15px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
}
